	
	<!-- Basic HTML stuff (title, head, beginning of body) -->
	{% include 'main/structure/base_tpl_top.html' %}
	<!-- Navigation -->
	{% include 'main/structure/navbar.html' %}	
	
	<form action="" method="post" role="form">
		{% csrf_token %}

		{% for field in form %}
			<div class="form-group">
				{{ field.errors }}
	            {{ field.label_tag }} {{ field }}
			</div>
		{% endfor %}

		<button type="submit" class="btn btn-success">OK</button>
	
	</form>


	
	
	{% include 'main/structure/base_tpl_bottom.html' %}
	